# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.dll

# Virtual environment
venv/
.venv/
ENV/
env/

# Environment files
*.env
*.env.*

# Build
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/